footer {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

span{
    color: hsl(178, 100%, 50%);
}

#profil{
    background-image:url(../img/image-avatar.png);
    background-size: contain;
    background-position: center;
    height: 35px;
    width: 35px;
    border: solid white 0.5px;
    border-radius: 50%;
    margin-right: 15px;
}